<div style="font-size:48px; line-height:1.2;">
    <center>
COMS W4111-002, Fall 23: <br>Take Home Midterm
</center>


<hr style="height:2px;">
<br>

# Overview

## Instructions

### Due Date: Sunday, October 22, 2023 at 11:59pm  


You have one week to complete the take home midterm. All of the work must be your own; you may not work in groups or teams. You may use outside sources so long as you cite them and provide links. A citation would be of the form

```
I used this source for this question: https://stackoverflow.com/questions/298739/what-is-the-difference-between-a-schema-and-a-table-and-a-database.
```

Points will be taken off for any answers that are verbose. Try to stay between 2-3 sentences for definitions and 5 sentences for longer questions.

There is a [pinned thread](https://edstem.org/us/courses/42070/discussion/3640921) on Edstem for corrections and calrifications. **Students are responsible for monitoring the thread. Do not waste our time by asking a question that has an answer.**

You may post __privately__ on Edstem or attend OH for clarification questions. TAs will not be providing hints or help, except to clarify questions.

Students have a bad habit of posting questions, requests for help, etc., on forums and Edstem. We often see questions like,

- "This is my SQL for question 2, does anyone know why it does not work?"
- "I almost get the answer but it is off a little. Any suggestions?"

__Do not do things like the above.__ That is a serious academic violation.

## Submission Instructions

The TAs will post [submission instructions](https://edstem.org/us/courses/42070/discussion/3640918) on EdSTEM.

# Environment Setup

You may need to change the MySQL userID and password in some of the cells below to match your configuration.

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://root:dbuserdbuser@localhost

In [ ]:
%sql SELECT 1

In [3]:
import pandas as pd
from sqlalchemy import create_engine

In [4]:
sql_engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

# Written Questions

__Note:__ You may have to look in lecture notes, slides, slides associated with the recommended textbook, or online research to answer these questions. You will have to do online search and show initiatives in your careers to answer questions more complex then the ones in this exam.


You should cite online references/links. You do not need to cite the lectures, slides from lectures, or textbook material.

## W1

Provide a short (two or three sentence) definition/description of the following terms. Some of these concepts do not have a single, precise, agreed definition. You may find slight differences in your research. Focus on the concept and grading will be flexible.

1. Super Key<br><br>
1. Candidate Key<br><br>
1. Primary Key<br><br>
5. Alternate Key<br><br>
6. Unique Key<br><br>
2. Natural Key<br><br>
2. Surrogate Key<br><br>
2. Substitute Key<br><br>
7. Foreign Key<br><br>
8. External Key

<u>Answer</u>

## W2

1. Define the concept of _immutable_ column.<br><br>
2. Why do some sources recommend that a primary key should be composed of immutable columns?

<u>Answer</u>

## W3

_Views_ are a powerful concept in relational database management systems. List and briefly explain 3 benefits of/reasons for creating a view.

<u>Answer</u>

## W4

Briefly explain the concepts of _procedural_ language and _declarative_ language. SQL is a declarative language. What are some advantages of a declarative language over a procedural language?

<u>Answer</u>

## W5

The following diagram is a simple representation of the architecture of a Jupyter notebook using MySQL. Is this a two-tier architecture or a three-tier architecture? Explain your answer briefly.

<img src="./jupyter-architecture.png">

<u>Answer</u>

## W6

What is the difference between the database schema and the database instance? Do you use DDL for schema or instances? Do you use DML for schemas or instances?

<u>Answer</u>

## W7

The lecture slides and a previous homework defined a convention/notation for documenting the schema for a relation in the relational model. Use the notation to define the schema for a relation with the following columns:
- `product_category`
- `product_code`
- `product_name`
- `description`

The primary key is composed of `product_category` and `product_code`.

The following cell shows how to format text. Double click on the cell to see the source.

\begin{equation}
Something\  \underline{how\_to\_underline}, \ some \ other \ stuff
\end{equation}

<u>Answer</u>

## W8

Briefly define and explain:

- Natural join
- Equi-join
- Theta join
- Self-join

<u>Answer</u>

## W9

Briefly explain the difference between a _unique (key) constraint_ and a _primary key constraint?_

<u>Answer</u>

## W10

Briefly explan the difference between a _column (data) type_ and the _column's domain._

<u>Answer</u>

# Entity Relationship Model

- This question tests transforming a high-level description of a data model into a more concrete _logical ER_ diagram. You will produce a logical ER diagram using Lucidchart. You should use Crow's Foot notation and conventions we have used in lectures and examples.<br><br>

- The data model is a simple representation of a university.<br><br>

- The model has the following entity types:
    - School:
        - School code, e.g., "SEAS," "GSAS," "LAW," ... ...
        - School name, e.g., "School of Engineering and Applied Science."
    - Department:
        - Department code, e.g., "COMS," "MATH," "ECON," ... ...
        - Department name, e.g., "Department of Computer Science."
    - Faculty:
        - UNI
        - last name
        - first name
        - email
        - title, e.g., "Professor," "Adjunct Professor," ... ...
    - Student:
        - UNI
        - last name
        - first name
        - email
    - Course:
        - Course number is a composite key, e.g., "COMSW4111" is
            - Dept. code "COMS"
            - Faculty code "W"
            - Course number "4111"
        - Course title
        - Course description
    - Section:
        - Call number
        - Course number
        - Year
        - Semester
        - Section<br><br> 
        
- A Faculty has complex states and relationships.
    - A Faculty can have a role relative to a Department. The possible roles are ```chair```, ```professor```, ```adjunct``` and ```emeritus```. 
    - Roles change over time. The data model must support the ability to handle current roles and previous roles, and the dates for the roles.
<br><br>  
    
- A Student has a relationship to Section.
    - The possible roles are ```(Enrolled, Waitlist, Dropped, TA)```
    - The student has a current role, and there can be only one current role.
    - The data model must support the ability to handle roles changing over time and retain information about prior roles.
<br><br>
    
- A Faculty _may_ teach a Section. All sections have exactly one Faculty.
<br><br>

- The relationship between Department and School is many-to-many. Each Department is in at least one school and each school has at least one department.
<br><br>    
    
__Notes:__
1. There is no single correct answer to this question. You will have to make some design decisions and assumptions. You should document your decisions and assumptions. You can do this by putting a note/comment in your diagram.
2. You do not have to worry about __isA__ relationships.
3. You do not have to document or worry about attribute types.
4. The ER diagram must be implementable in the relational/SQL model.

<u>Answer</u>

_Assumptions, Decsions and Notes:_

1. ... ...
2. ... ...

- This is an example of including a diagram in your answer. Make sure you include the file in your ZIP.

<img src="./sample-diagram.png">

# Relational Algebra

## R1

Use the [RelaX Calculator and the Silberschatz - UniversityDB](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) for this question. 

Two time slots _X_ and _Y_ obviously overlap if:
1. They are not the same time slot, i.e. do not have the same $time\_slot\_id$.
2. They have at least one lecture on _the same day,_  the start hour for _X_ is before the start hour for _Y_, and the end hour for _X_ is after the start hour for _Y._
3. To make the question easier, you do not need to consider minutes in computing overlap but must show minutes in the result.

Write the relational algebra expression that identifies obviously overlapping time slots, and only lists overlapping pairs of time slots once. 

Your output must match the answer below. 

<img src='./relational_result.png'>

<u> Answer
    
- Post the relational algebra statement from the RelaX calculator.<br><br>
- Post a screen capture of the query exection and result.

## R2

1. You __may not__ use the subtraction operator ```-``` to write this query.
2. Produce a relation that:
    - Has column names ```instructor_ID, instructor_name.```
    - Contains the ```ID``` and ```name``` of instructors who do not advise any students.

<u> Answer

# SQL Schema and DDL

### Objective

- You have a logical datamodel ER diagram (see below).<br><br>

- You need to use DDL to define a schema that realizes the model. Name your schema `f23_w4111_midterm_medical`.<br><br>

- Logical models are not specific enough for direct implementation. This means that:
    - You will have to assign concrete types to columns, and choose things like `GENERATED`, `DEFAULT`, etc.
    - You may have to decompose a table into two tables, or extract common attributes from multiple tables into a single, referenced table.
    - Implementing the relationships may require adding columns and foreign keys, associative entities, etc.
    - You may have to make other design and implementation choices. <b>This means that there is no single correct answer.</b>
<br><br>
- You may need to look do some self-study to find information about concepts, e.g. ```GENERATED```. Cite your sources.

### ER Diagram

| <img src="./er-to-sql-3.png"> |
| :---: |
| __ER Diagram__ |

<u>Answer</u>

_Design Decisions, Notes, etc._

_DDL_

- Execute your DDL in the cell below. You may use DataGrip or other tools to help build the DDL statements.<br><br>

- You can copy and paste the SQL `CREATE/ALTER TABLE` statements below, but you MUST execute the statements in the notebook.

In [ ]:
%%sql

# DDL in cells below.

# Complex SQL

## Birth Countries and Death Countries

- __Note:__ Use the instructions from HW1 Part 2 Nonprogramming to load the Lahman's Baseball Database data into MySQL if you have not already done so.<br><br>

- In Lahman's Baseball Database table `people`, there is information about people's `birthCountry` and `deathCountry`.<br><br>

- There are countries in which at least one person was born but in which no person has died.<br><br>

- Write a query that produces a table of the form:
    - `birthCountry`
    - `no_of_births`, which is the total number of births in the country.<br><br>

- The table contains all rows for countries in which there with births but no deaths.<br><br>

- You may create indexes to improve performance.

<u>Answer</u>

In [ ]:
%%sql

## Best Baseball Players

- This question uses ```lahmansbaseballdb.batting```, ```lahmansbaseballdb.pitching``` and ```lahmansbaseballdb.people```.<br><br>

- These query computes performance metrics:<br><br>
    - Batting:
        - On-base percentage: OBP is ```(sum(h) + sum(BB))/(sum(ab) + sum(BB))```
        - Slugging percentage: SLG is<br><br>
\begin{equation}
\dfrac{(sum(h) - sum(`2b`) - sum(`3b`) - sum(hr)) + 2*sum(`2b`) + 3*sum(`3b`) + 4*sum(hr))}
{sum(ab)}
\end{equation}<br>
    - On-base percentage plus slugging: OPS is is ```(obp + slg)```.<br><br> 
    - Pitching:
        - total_wins is ```sum(w)```.
        - total_loses is ```sum(l)```.
        - win_percentage is ```sum(w)/(sum(w) + sum(l))```.<br><br>
        
- Professor Ferguson has two criteria for someone being a great baseball player.
    - Batting:
        - Total number of ```ab >= 3000```.
        - OPS: Career ```OPS >= 1.000```
    - Pitching:
        - ```(sum(w) + sum(l)) >= 200```.
        - ```win_percentage >= 0.70)``` or ```sum(w) >= 300.```<br><br>
                
- This is one of the rare cases where Prof. Ferguson will provide the answer. So, please produce the table below. Some notes:
    - ```great_because``` is either ```Pitcher``` or ```Batter``` based on whether the player matched the batting or pitching criteria.
    - The values from ```batting``` are ```None``` if the player did not qualify based on batting.
    - The values from ```pitching``` are ```None``` if the player did not qualify on pitching.

- There is a CSV file in the directory with my sample answer. The columns are:
    - ```playerid```
    - ```nameLast``` from ```People```
    - ```nameFirst``` from ```People.```
    - ```great_because```
    - ```slg```
    - ```obp```
    - ```op_slg``` is on-base percentage plus slugging.
    - ```total_abs``` is total at bats.
    - ```total_w``` is the total wins.
    - ```total_l``` is the total loses.
    - ```total_d``` is some of ```total_w``` and ```total_l```.
    - ```win_percentage``` is the winning percentage.
    
    
- __Note:__ Since I saved the query to Pandas and then read it back it,
    - All number become floating point. Your answer uses SQL and the values should be integers except for ```win_percentage.```
    - Pandas converts ```NULL``` to ```NaN```. In your SQL result, you will have ```None``` instead of ```NaN.```

In [6]:
bb_greats = pd.read_csv('./baseball_greats.csv')
bb_greats

,playerid,nameLast,nameFirst,great_because,slg,obp,obp_slg,total_abs,total_w,total_l,total_d,win_percentage
0,alexape01,Alexander,Pete,Pitcher,NaN,NaN,NaN,NaN,373.0,208.0,581.0,0.6420
1,bondsba01,Bonds,Barry,Batter,0.6069,0.4428,1.0497,9847.0,NaN,NaN,NaN,NaN
2,carltst01,Carlton,Steve,Pitcher,NaN,NaN,NaN,NaN,329.0,244.0,573.0,0.5742
3,carutbo01,Caruthers,Bob,Pitcher,NaN,NaN,NaN,NaN,218.0,99.0,317.0,0.6877
4,clarkjo01,Clarkson,John,Pitcher,NaN,NaN,NaN,NaN,328.0,178.0,506.0,0.6482
5,clemero02,Clemens,Roger,Pitcher,NaN,NaN,NaN,NaN,354.0,184.0,538.0,0.6580
6,fordwh01,Ford,Whitey,Pitcher,NaN,NaN,NaN,NaN,236.0,106.0,342.0,0.6901
7,foutzda01,Foutz,Dave,Pitcher,NaN,NaN,NaN,NaN,147.0,66.0,213.0,0.6901
8,foxxji01,Foxx,Jimmie,Batter,0.6093,0.4275,1.0368,8134.0,NaN,NaN,NaN,NaN
9,galvipu01,Galvin,Pud,Pitcher,NaN,NaN,NaN,NaN,365.0,310.0,675.0,0.5407
10,gehrilo01,Gehrig,Lou,Batter,0.6324,0.4447,1.0772,8001.0,NaN,NaN,NaN,NaN
11,glavito02,Glavine,Tom,Pitcher,NaN,NaN,NaN,NaN,305.0,203.0,508.0,0.6004
12,greenha01,Greenberg,Hank,Batter,0.6050,0.4103,1.0153,5193.0,NaN,NaN,NaN,NaN
13,grovele01,Grove,Lefty,Pitcher,NaN,NaN,NaN,NaN,300.0,141.0,441.0,0.6803
14,hornsro01,Hornsby,Rogers,Batter,0.5765,0.4308,1.0073,8173.0,NaN,NaN,NaN,NaN
15,johnsra05,Johnson,Randy,Pitcher,NaN,NaN,NaN,NaN,303.0,166.0,469.0,0.6461
16,johnswa01,Johnson,Walter,Pitcher,NaN,NaN,NaN,NaN,417.0,279.0,696.0,0.5991
17,keefeti01,Keefe,Tim,Pitcher,NaN,NaN,NaN,NaN,342.0,225.0,567.0,0.6032
18,kershcl01,Kershaw,Clayton,Pitcher,NaN,NaN,NaN,NaN,185.0,84.0,269.0,0.6877
19,maddugr01,Maddux,Greg,Pitcher,NaN,NaN,NaN,NaN,355.0,227.0,582.0,0.6100
20,martipe02,Martinez,Pedro,Pitcher,NaN,NaN,NaN,NaN,219.0,100.0,319.0,0.6865
21,mathech01,Mathewson,Christy,Pitcher,NaN,NaN,NaN,NaN,373.0,188.0,561.0,0.6649
22,nichoki01,Nichols,Kid,Pitcher,NaN,NaN,NaN,NaN,362.0,208.0,570.0,0.6351
23,niekrph01,Niekro,Phil,Pitcher,NaN,NaN,NaN,NaN,318.0,274.0,592.0,0.5372
24,perryga01,Perry,Gaylord,Pitcher,NaN,NaN,NaN,NaN,314.0,265.0,579.0,0.5423
25,planked01,Plank,Eddie,Pitcher,NaN,NaN,NaN,NaN,326.0,194.0,520.0,0.6269
26,radboch01,Radbourn,Old Hoss,Pitcher,NaN,NaN,NaN,NaN,310.0,194.0,504.0,0.6151
27,ruthba01,Ruth,Babe,Batter,0.6898,0.4718,1.1616,8398.0,NaN,NaN,NaN,NaN
28,ryanno01,Ryan,Nolan,Pitcher,NaN,NaN,NaN,NaN,324.0,292.0,616.0,0.5260
29,seaveto01,Seaver,Tom,Pitcher,NaN,NaN,NaN,NaN,311.0,205.0,516.0,0.6027
30,spahnwa01,Spahn,Warren,Pitcher,NaN,NaN,NaN,NaN,363.0,245.0,608.0,0.5970
31,spaldal01,Spalding,Al,Pitcher,NaN,NaN,NaN,NaN,252.0,65.0,317.0,0.7950
32,suttodo01,Sutton,Don,Pitcher,NaN,NaN,NaN,NaN,324.0,256.0,580.0,0.5586
33,welchmi01,Welch,Mickey,Pitcher,NaN,NaN,NaN,NaN,307.0,210.0,517.0,0.5938
34,willite01,Williams,Ted,Batter,0.6338,0.4806,1.1144,7706.0,NaN,NaN,NaN,NaN
35,wynnea01,Wynn,Early,Pitcher,NaN,NaN,NaN,NaN,300.0,244.0,544.0,0.5515
36,youngcy01,Young,Cy,Pitcher,NaN,NaN,NaN,NaN,511.0,315.0,826.0,0.6186

<u>Answer</u>

In [ ]:
%%sql

# Data and Schema Cleanup

## Part 1: Countries and Cities

- There is a file  ```worldcities.csv``` in the same folder as this notebook.<br><br>

- In the following code cell, use Pandas to:
    - Read the CSV file into a Data Frame.
    - Convert the Data Frame to contain only the following columns:
        - ```city```
        - ```city_ascii```
        - ```lat```
        - ```lng```
        - ```country```
        - ```iso2```
        - ```iso3```
        - ```id```
    - Write the data to the table ```worldcities``` in the schema ```F23W4111Midterm```.<br><br>
    
- Use the SQL after the code cell to display part of your new table.<br><br>

__Note:__ In lecture examples and HW, you have seen how to use Pandas to read CSV files and create tables.


<u>Answer</u>

In [ ]:
%%sql

- Display data.

In [ ]:
%sql select * from F23Midterm.worldcities order by city limit 30;

## Part 2: Modify World City Data

- Having multiple rows that repeat ```country```, ```iso2```, and ```iso3``` is poor design.<br><br>

- Create two new tables:
    - ```countries``` that contains ```country```, ```iso2```, and ```iso3```.
    - ```cities``` that contains only the remaining fields.
    - Pick either ```iso2``` or ```iso3``` to define a foreign key between the tables.<br><br>
    
- Add primary keys, unique keys, select column data types, etc., to define a better schema for the two tables.<br><br>
    
- Show your SQL statements for creating and modifying the tables below.<br><br>

- __Note:__ A small number of the ISO2 and ISO3 codes are incorrect and will prevent you from creating keys. You must correct this data and document your changes.<br><br>

- Show your DDL below.

<u>Answer</u>

In [ ]:
%%sql

## Part 3: An Easy Question

- An interesting question. Is there a better SQL type for latitude and longitude than ```DOUBLE```? If you think there is a better type, what would it be? (You do not need to perform any conversions)

<u>Answer</u>

## Part 4: Final Create Table Statements

- Use the DataGrip tool to generate final ```CREATE TABLE``` statements below. You do not need to execute the statements.



<u>Answer</u>

## Part 5: Fixing People Table

<u>Create a Copy People</u>

- Create a table ```F23W4111Midterm.people_modified``` that has the same schema and data as ```People```.

In [ ]:
%%sql

<u>Fixing ```birthCountry```</u>

- The query below indicates that some ```birthCountry``` entries in ```people``` do not map to a known country.

In [ ]:
%%sql


select distinct birthCountry, count(*) as count  from people_modified where
    birthCountry not in (select country from countries)
    group by birthCountry;

- My proposed corrections for ```birthCountry``` are:

| birthCountry   | ISO3 | ISO2 | Correct Country Name |
|----------------|------|------|----------------------|
| Bahamas        | BHS  | BS   | Bahamas, The         |
| CAN            | CAN  | CA   | Canada               |
| Czech Republic | CZE  | CZ   | Czechia              |
| South Korea    | KOR  | KR   | Korea, South         |
| USA            | USA  | US   | United States        |
| Viet Nam       | VNM  | VN   | Vietnam              |
| D.R.           | DOM  | DO   | Dominican Republic   |
| P.R.           | PRI  | PR   | Puerto Rico          |
| V.I.           | USA  | US   | United States        |
| At Sea         | NULL | NULL | NULL                 |


- Correct ```people_modified```, making the following changes:
    1. Add a column ```birthCountryISO3```
    2. Correct the entries for ```birthCountry```
    3. Populate the values for ```birthCountryISO3```
    4. Set up a foreign key relationship from ```people_modified``` to ```countries```
    5. Drop the column ```birthCountry```

<u>Answer</u>

- Show your SQL statements for altering the table below.

- Run your queries to show correctly modified table.

In [ ]:
%%sql